/*  Circle Fade

      <div class="sk-circle-fade">
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
        <div class="sk-circle-fade-dot"></div>
      </div>
 */
.ajax-throbber.sk-circle-fade {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative;
}

.ajax-throbber .sk-circle-fade-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.ajax-throbber .sk-circle-fade-dot:before {
  content: '';
  display: block;
  width: 15%;
  height: 15%;
  background-color: var(--sk-color);
  border-radius: 100%;
  animation: sk-circle-fade 1.2s infinite ease-in-out both;
}

.ajax-throbber .sk-circle-fade-dot:nth-child(1)  { transform: rotate(30deg);  }
.ajax-throbber .sk-circle-fade-dot:nth-child(2)  { transform: rotate(60deg);  }
.ajax-throbber .sk-circle-fade-dot:nth-child(3)  { transform: rotate(90deg);  }
.ajax-throbber .sk-circle-fade-dot:nth-child(4)  { transform: rotate(120deg); }
.ajax-throbber .sk-circle-fade-dot:nth-child(5)  { transform: rotate(150deg); }
.ajax-throbber .sk-circle-fade-dot:nth-child(6)  { transform: rotate(180deg); }
.ajax-throbber .sk-circle-fade-dot:nth-child(7)  { transform: rotate(210deg); }
.ajax-throbber .sk-circle-fade-dot:nth-child(8)  { transform: rotate(240deg); }
.ajax-throbber .sk-circle-fade-dot:nth-child(9)  { transform: rotate(270deg); }
.ajax-throbber .sk-circle-fade-dot:nth-child(10) { transform: rotate(300deg); }
.ajax-throbber .sk-circle-fade-dot:nth-child(11) { transform: rotate(330deg); }
.ajax-throbber .sk-circle-fade-dot:nth-child(1):before  { animation-delay: -1.1s; }
.ajax-throbber .sk-circle-fade-dot:nth-child(2):before  { animation-delay: -1.0s; }
.ajax-throbber .sk-circle-fade-dot:nth-child(3):before  { animation-delay: -0.9s; }
.ajax-throbber .sk-circle-fade-dot:nth-child(4):before  { animation-delay: -0.8s; }
.ajax-throbber .sk-circle-fade-dot:nth-child(5):before  { animation-delay: -0.7s; }
.ajax-throbber .sk-circle-fade-dot:nth-child(6):before  { animation-delay: -0.6s; }
.ajax-throbber .sk-circle-fade-dot:nth-child(7):before  { animation-delay: -0.5s; }
.ajax-throbber .sk-circle-fade-dot:nth-child(8):before  { animation-delay: -0.4s; }
.ajax-throbber .sk-circle-fade-dot:nth-child(9):before  { animation-delay: -0.3s; }
.ajax-throbber .sk-circle-fade-dot:nth-child(10):before { animation-delay: -0.2s; }
.ajax-throbber .sk-circle-fade-dot:nth-child(11):before { animation-delay: -0.1s; }

@keyframes sk-circle-fade {
  0%, 39%, 100% {
    opacity: 0;
    transform: scale(0.6);
  } 40% {
      opacity: 1;
      transform: scale(1);
    }
}
