@import 'choices.js/public/assets/styles/choices.min.css';

.choices--autocomplete {
  margin-bottom: unset;
}

.choices--autocomplete .choices__inner {
  min-height: unset;
}

.choices__item.choices__item--autocomplete {
  pointer-events: none;
}

.choices__item.choices__item--autocomplete .choices__button,
.choices__list--dropdown .choices__item.choices__item--autocomplete {
  pointer-events: initial;
}

.choices--autocomplete .ajax-progress {
  margin: 0;
  padding: 0;
}
